{% extends 'inventory/base.html' %}
{% load static %}
{% block content %}
<h2>Delete Item</h2>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.uid_no.label_tag }}</td>
            <td>{{ form.uid_no }}</td>
        </tr>
        <tr>
            <td>{{ form.quantity.label_tag }}</td>
            <td>{{ form.quantity }}</td>
        </tr>
        <tr>
            <td>{{ form.reason.label_tag }}</td>
            <td>{{ form.reason }}</td>
        </tr>
    </table>
    <br>
    <button type="submit">Delete Item</button>
    <a href="{% url 'dashboard' %}" class="button">Back to Dashboard</a>
</form>
{% endblock %}
